\documentclass[a4paper]{letter}
\usepackage[utf8]{inputenc}

\begin{document}


\begin{letter}{Hiring Manager \\ {{ company_name }} \\ {{ location }} }
\opening{Dear Hiring Manager,}


{{ cover_text }}

\closing{Warm regards,}

\end{letter}
\end{document}
